/** A형 : 1168*621 / B형 : 1818*720 / C형 : 1816*900 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap'); // temp
@mixin aSize {
}
#appWrapper {
  width: 1920px;
  height: 1080px;
}

#app {
  font-family: "Noto Sans KR";
  width: 1920px;
  height: 1080px;
  padding-top: 90px;
  padding-left: 102px;
  box-sizing: border-box;
  background-color: #05060b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#content-area {
  position: relative;
  width: 1816px;
  height: 810px;
  padding-top: 40px;
  box-sizing: border-box;
}
